<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"  />
<title>Kings Quiz</title>
<link href='http://fonts.googleapis.com/css?family=Contrail+One' rel='stylesheet' type='text/css'>
<link href="./css/table.css" rel="stylesheet" />
<link href="./css/clock.css" rel="stylesheet" />
<link href="./css/site.css" rel="stylesheet" />
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="./client.build.js"></script>

<script type="text/html" id="quizes_tmpl">
  <div class="left_menu">
      <h1>Quizes</h1>
      <ul>
        <li class="active"><a href="#">Aktiva</a></li>
        <li><a href="#">...</a></li>
        <li class="cat-separator">...</li>
        <li><a href="#">...</a></li>
      </ul>
    </div>
    <div class="right_content">
      <div class="top-filter">
        <input type="text"/>
        <input type="button" value="Sök"/>
      </div>
      <div class="items">
        

      </div>
    </div>
</script>

<script type="text/html" id="quiz_list_tmpl">
<div id="quiz-<%=id%>" class="item"> <a href="#">
          <h2><%=title%></h2>
          <div class="info"><%=description%></div>
          <div class="min-info">Frågor: <span class="black"><%=questions%>st</span> &middot; Svårighetsgrad: <span class="yellow"><%=difficulty%></span> &middot; Skapad av: <span class="blue"><%=creator%></span></div>
          </a></div>
</script>

<script type="text/html" id="lobby_tmpl">
 <table cellspacing="0" id="result-table">
      <tbody><tr>
        <th id="username-column">Användarnamn</th>
        <th id="progress-column">Poäng</th>
        <th id="win-column"></th>
		<% for ( var i = 0; i < players.length; i++ ) { %>
      </tr><tr id="player-<%=players[i].id%>" class="player-row"><td><%=players[i].username%></td><td class="progress-cell"><div class="progress-bar" style="width: <%=(100*players[i].points/client.quiz.currentQuiz.totalPoints)%>%;"><%=players[i].points%> Poäng</div></td><td><span class="points green"></span></td></tr>
	  <% } %>
    </tbody></table>
</script>

<script type="text/html" id="lobby_list_tmpl">
<li id="lobby-<%=id%>">
<h2><%=title%></h2>
<div class="description">test</div>
</li>
</script>


</head>
<body>
<div id="modal-overlay">
  <div class="modal-box">
    <h1>Ange ett användarnamn</h1>
    <div class="content">
      <input id="username-input" type="text" placeholder="Användarnamn"/>
    </div>
    <div class="footer">
      <div class="right">
        <input id="join-button" type="button" value="Ok"/>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<header>
  <div id="logo"><img alt="crown" src="./images/crown.svg"/>
    <div>Kings Quiz</div>
  </div>
  <div class="dark-border"></div>
  <nav>
    <div id="lobbyLink" class="active">
      <div class="bg-overlay">
        <div> <a href="#">
         <div id="default-msg">
          	<div id="lobby-title">Kung quiz</div>
          	<div id="quiz-title">quiz-title</div>
          </div>
          <div id="display-answer">
          	
          </div>
          <div id="coundownclock" class="blue clock">
            <div id="timeleft" class="display">0</div>
            <div class="front left"></div>
            <div class="rotate left" style="-webkit-transform: rotate(180deg);">
              <div class="bg left"></div>
            </div>
            <div class="rotate right" style="display: block; -webkit-transform: rotate(156deg);">
              <div class="bg right"></div>
            </div>
          </div>
          </a> </div>
      </div>
    </div>
    <div>
      <ul class="left-nav">
        <li><a id="quizes-link" href="#">Quizes</a> </li>
      </ul>
      <ul class="right-nav">
        <li><a id="username" href="#">...</a>
          <ul>
            <li><a href="#">Konto</a></li>
            <li><a href="#">Logga ut</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="clear"></div>
  </nav>
</header>
<div id="main-wrapper">
  <section id="main-content">
    <table cellspacing="0" id="result-table">
      <!-- cellspacing='0' is important, must stay -->
      <tr>
        <th id="username-column">Användarnamn</th>
        <th id="progress-column">Poäng</th>
        <th id="win-column"></th>
      </tr>
      <!-- Table Header -->
    </table>
  </section>
  <aside id="side-content">
    <div class="side-item question-box">
      <h2 id="question-title">Väntar på nästa fråga</h2>
      <div id="question"></div>
    </div>
    <div class="side-item answer-box">
      <h2>Väntar på nästa fråga</h2>
      <ul id="answer_list" class="answer-list">
      </ul>
    </div>
  </aside>
  <div class="clear"></div>
</div>
<footer> &copy; Benjamin & Adam, TE11A - 2013 </footer>
<div id="console">
  <input type="text"/>
</div>
</body>
</html>