.clock{
	/* The .clock div. Created dynamically by jQuery */
	display:none;
	background-color:#252525;
	border-radius:4px;
	height:100px;
	width:100px;
	position:relative;
	margin: 0 auto;
	overflow:hidden;
	margin-top:-21px;
	border-top:1px solid #777;
	box-shadow:rgba(0,0,0,1) 0 0 4px;
}

.clock .rotate{
	/* There are two .rotate divs - one for each half of the background */
	position:absolute;
	width:100px;
	height:100px;
	top:0;
	left:0;
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	transition: all 1s linear;
}

.rotate.right{
	display:none;
	z-index:11;
}

.clock .bg, .clock .front{
	width:50px;
	height:100px;
	background-color:#252525;
	position:absolute;
	top:0;
	-webkit-border-top-left-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-bottomleft: 4px;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}

.clock .display{
	/* Holds the number of seconds, minutes or hours respectfully */
	position:absolute;
	width:100px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	z-index:20;
	color:#F5F5F5;
	font-size:35px;
	text-align:center;
	top:32px;
	left:0;
	
	/* CSS3 text shadow: */
	text-shadow:4px 4px 5px #333333;
}

/* The left part of the background: */

.clock .bg.left{ left:0; }

/* Individual styles for each color: */
.orange .bg.left{ background:url(../images/bg_orange.png) no-repeat left top; }
.green .bg.left{ background:url(../images/bg_green.png) no-repeat left top; }
.blue .bg.left{	background:url(../images/bg_blue.png) no-repeat left top; background-size:100px;}

/* The right part of the background: */
.clock .bg.right{ left:50px; }

.orange .bg.right{ background:url(../images/bg_orange.png) no-repeat right top; }
.green .bg.right{ background:url(../images/bg_green.png) no-repeat right top; }
.blue .bg.right{ background:url(../images/bg_blue.png) no-repeat right top; background-size:100px;}


.clock .front.left{
	left:0;
	z-index:10;
}