@charset "utf-8";

body{
	background:url("../images/vidsite-bg.jpg");
	margin:0;
	padding:0;
	text-shadow: rgba(255,255,255,0.2) 1px 1px;
	font-family: 'Contrail One', cursive;
	font-size:1em;
}

/* 
===============================================================
 Global 
===============================================================
*/

*{
	/*
	outline:1px dotted red;
	*/
}

a{
	color:#09C;
	text-decoration:none;
}

a:hover{
	color:#09C;
	text-decoration:underline;
}


.clear{
	height:0;
	width:0;
	display:block;
	clear:both;
}

.release-date, .uploaded-time, .episode-time{
	color:#666;
	font-size:70%;
}

.black{
	color:#000;
}

.green{
	color:#060;
}

.yellow{
	color:#990;
}

.red{
	color:#900;
}

.blue{
	color:#09C;
}

#console{
	position:fixed;
	display:none;
	padding:0;
	right:0;
	left:0;
	bottom:0;
	background:rgba(0,0,0,.8);
}

#console > input{
	margin:0;
	padding:6px 5px;
	display:block;
	width:100%;
	border:none;
	font-size:16px;
	background:none;
	color:#CCC;
}

#lobbyLink{
	position:absolute;
	display:none;
	top:0px;
	width: 100%;
}

#lobbyLink > .bg-overlay{
	display:block;
	margin: 0 auto;
	width:300px;
	height:102px;
	background:url("../images/vidsite-bg.jpg");
}

#lobbyLink > .bg-overlay > div{
	display:block;
	height:100%;
	background:rgba(0,0,0,.7);
}


#lobbyLink > .bg-overlay > div > a{
	display:block;
	height:38px;
	padding:32px 11px;
	text-align:center;
	text-decoration:none;
	font-size:28px;
	text-shadow:rgba(0,0,0,.5) 1px 1px 1px;
	border:1px solid #009BC6;
	border-bottom:none;
	background:rgba(0,200,255,.3);
	box-shadow:rgba(0,0,0,.2) 0 0 4px;
}

#lobbyLink.active > .bg-overlay > div > a{
	border:none;
	text-shadow:rgba(0,0,0,.9) -1px -1px;
	background:rgba(0,0,0,.2);
	box-shadow:inset rgba(0,0,0,.2) 0 0 4px;
}

#lobbyLink.blinking > .bg-overlay > div > a{
	/*background:rgba(255,0,0,.2);
	box-shadow:inset rgba(0,0,0,.2) 0 0 4px, rgba(255,0,0,1) 0 0 6px;*/
	-webkit-animation: blink 2s linear infinite reverse;
	-moz-animation: blink 2s linear infinite reverse;
	animation: blink 2s linear infinite reverse;
}

#lobbyLink.running > .bg-overlay > div > a{
	background:rgba(255,171,38,.3);
	box-shadow:inset rgba(0,0,0,.7) 0 0 4px;
}

#lobbyLink.green > .bg-overlay > div > a{
	background:rgba(0,200,0,.2);
	box-shadow:inset rgba(0,0,0,.7) 0 0 4px;
	-webkit-animation: none;
	-moz-animation: none;
	animation: none;
}

#quiz-title{
	margin-top:12px;
	color:#ccc;
	font-size:17px;
	text-shadow:rgba(0,0,0,.4) -1px -1px;
}

#lobbyLink.blinking #quiz-title{
	color:red;
}

#display-answer{
	font-size:30px;
}

#display-answer.correct{
	color:#030;
}

#display-answer.incorrect{
	color:#900;
}

#username-input, input.nice-text, textarea{
	display:block;
	width:300px;
	margin: 20px auto;
	padding:10px 10px;
	font-size:18px;
	border-radius:4px;
	border:1px solid #CCC;
	color:#003;
	box-shadow:inset rgba(0,0,0,.2) 0 0 4px;
}

textarea{
	min-height:70px;
	max-height:200px;
	resize:vertical;
}

input[type=button]{
	padding:6px 20px;
	background:#0C0;
	box-shadow:#090 0 -1px 1px;
	margin:8px;
	border:1px solid #090;
	border-top:1px solid #0F0;
	border-radius:3px;
	cursor:pointer;
}

input[type=button]:active{
	border-top:1px solid #060;
	background:#090;
}

input[disabled]{
	border-top:1px solid #090;
	background:#090;
	color:#000;
	opacity:.7;
	cursor:default;
}

.loader{
	display:block;
	width:100px;
	height:100px;
	margin:20px auto;
	background:url('../images/ajax-loader.gif');
}


label{
	display:block;
}

.create-lobby-form{
	display:table;
	margin: 20px auto;
}

#host-control{
	display:none;
	background:#F2F2F2;
	border:1px solid #ccc;
	width:100%;
	margin-left:18px;
}

/* 
===============================================================
 modal-box 
===============================================================
*/


#modal-overlay{
	position:absolute;
	display:none;
	background:rgba(0,0,0,.5);
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:9999;
}

#modal-overlay > .modal-box{
	display:table;
	min-width:500px;
	margin: 10% auto 0 auto;
	background:#FFF;
	box-shadow:rgba(0,0,0,1) 0 0 3px;
}

#modal-overlay > .modal-box > h1{
	background:#ccc;
	font-size:22px;
	padding:15px 10px;
	margin:0;
	border-top:1px solid #fff;
	text-shadow:rgba(255,255,255,1) 1px 1px 1px;
	border-bottom:1px solid #999;
}

#modal-overlay > .modal-box > .content{
	min-height:10px;
}

#modal-overlay > .modal-box > .footer{
	display:block;
	background:#EFEFEF;
	border-top:1px solid #ccc;
}

#modal-overlay > .modal-box .right{
	float:right;
}

#modal-overlay > .modal-box .left{
	float:left;
}


.lobbies{
	margin:0;
	padding:0;
}

.lobbies > li{
	border-top:1px solid #FFF;
	border-bottom:1px solid #CCC;
	background:rgba(0,0,0,.05);
	padding:10px 20px;
}

.lobbies > li:last-child{
	border-bottom:none;
}

.lobbies > li > h2{
	margin:0;
	padding:0;
}

.lobbies > li:hover{
	background:rgba(0,0,0,.1);
	cursor:pointer;
}
.lobbies > li:active{
	border-top:1px solid #888;
	background:rgba(0,0,0,.15);
	cursor:pointer;
}

/* 
===============================================================
 Header 
===============================================================
*/

header{
	position:relative;
	min-width:1100px;
	background:rgba(0,0,0,.7);
	box-shadow: rgba(0,0,0,.4) 0 2px 4px;
	z-index:5;
}

header > #logo{
	width:1050px;
	margin:0 auto;
	height:60px;
	font-size:2em;
	line-height:60px;
	
}

header > #logo > div{
	position:relative;
	display:inline-block;
	vertical-align:7%;
}

header > #logo > div:first-letter{
	color:#181A00;
}

header > #logo > img{
	width:50px;
}

header > .dark-border{
	border-bottom:1px solid #333;
}

header > nav{
	border-top: 1px solid #666;
	display:block;
	height:40px;
}

header > nav > div{
	height:100%;
	width:1100px;
	margin:0 auto;
}

header > nav > div > ul{
	display:inline-block;
	list-style:none;
	padding:0;
	margin:0;
	height:100%;
}

header > nav > div > ul.right-nav{
	float:right;
}

header > nav > div > ul > li{
	display:block;
	position:relative;
	float:left;
	border-left:1px solid #666;
	border-right:1px solid #222;
}

header > nav > div > ul > li:first-child::before{
	position:absolute;
	display:block;
	height:40px;
	margin-left:-2px;
	border-left:1px solid #222;
	content: "";
}


header > nav > div > ul > li:hover,
header > nav > div > ul > li:focus{
	background:rgba(0,0,0,.1);
}

header > nav > div > ul > li:active{
	background:rgba(0,200,255,.2);
	border-left:1px solid #666;
	margin-top:-1px;
	border-top: 1px solid rgba(0,255,255,.3);
}

header > nav > div > ul > li > a{
	display:block;
	padding:0 10px;
	min-width:60px;
	height:100%;
	text-align:center;
	line-height:40px;
	text-shadow: rgba(0,0,0,.3) -1px -1px;
}

header > nav > div > ul > li > ul{
	position:absolute;
	display:none;
	list-style:none;
	padding:0 0 2px 0;
	margin:0;
	background:rgba(20,20,20,.9);
	right:-1px;
	float:right;
}

header > nav > div > ul > li:hover > ul{
	display:block;
}

header > nav > div > ul > li > ul > li{
	height:35px;
}

header > nav > div > ul > li > ul > li > a{
	display:block;
	line-height:35px;
	min-width:100px;
	padding:0 10px;
	height:100%;
	text-shadow: rgba(0,0,0,.3) -1px -1px;
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
}

header > nav > div > ul > li > ul > li > a:hover{
	border-top:1px solid rgba(0,200,255,.4);
	border-bottom:1px solid rgba(0,200,255,.4);
	background:rgba(0,200,255,.1);
}


/* 
===============================================================
 main-wrapper
===============================================================
*/

#main-wrapper{
	display:block;
	margin:0 auto;
	width:1100px;
	min-height:600px;
}

/* 
===============================================================
 main-wrapper
===============================================================
*/

#main-content{
	display:inline-block;
	width:750px;
	margin: 20px 0 10px 0;
	min-height:300px;
	float:left;
}

/* 
===============================================================
 Side-content 
===============================================================
*/

#side-content{
	display:inline-block;
	margin: 20px 0 10px 0;
	background:rgba(255,255,255,0.8);
	border:1px solid #CCC;
	border-radius: 4px;
	width:300px;
	min-height:100px;
	box-shadow: rgba(255,255,255,1) 0 0 2px;
	float:right;
}

#question{
	padding:10px;
	vertical-align:10%;
}

#question > img{
	display:block;
	width: 100%;
	margin-bottom:10px;
	border-radius:4px;
}

.side-item{
	margin: 0;
}

.side-item > h2{
	margin: 0;
	padding: 4px 10px;
	font-size: 18px;
	background:#E4E4E4;
	font-weight:normal;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
}

.side-item:first-child > h2{
	-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
	border-top:1px solid #fff;
}


.side-item > ul{
	margin: 0;
	padding: 0;
	list-style:none;
}

.side-item > ul > li{
	display:block;
	padding:9px 15px;
}

.side-item > ul > li:hover{
	background:rgba(0,200,255,.1);
	cursor:pointer;
}

.side-item > ul > li.active, .side-item > ul > li.disabled{
	cursor:default;
}

.side-item > ul > li.active{
	background:rgba(0,200,230,.5);
}

.side-item > ul > li.disabled{
	background:rgba(0,0,0,.1);
}

.side-item > ul > li.correct{
	background:rgba(0,255,0,.5);
}

.side-item > ul > li.incorrect{
	background:rgba(255,0,0,.5);
}

.side-item > ul > li > a > span{

}

.side-item > ul > li > a > div{
	
}

.episode-info{
	font-size:12px;
}

.side-item > ul > li > a >img{
	height:60px;
	width:50px;
	border-radius:4px;
	margin-right:10px;
	float:left;
}

.side-item > ul > li > a:hover >img{
	box-shadow:rgba(0,0,255,.5) 0 0 5px;
}

/* 
===============================================================
 Result table
===============================================================
*/

#result-table{
	width:750px;
}

#username-column{
	width:100px;
}

#progress-column{
	
}

#win-column{
	width:30px;
}

td.progress-cell{
	position:relative;
	padding:5px;
	margin:0;
}

.progress-bar{
	position:relative;
	display:block;
	width:0;
	height:30px;
	background:#75DEFF;
	border:1px solid #35CFFF;
	border-top:1px solid #ADEBFF;
	box-shadow:#35CFFF 0px -1px 1px;
	border-radius:3px;
	line-height:30px;
	color:#000;
	text-shadow:#B0E6FF 1px 1px 1px;
	-webkit-transition:all 1s linear;
	-moz-transition:all 1s linear;
	transition:all 1s linear;
	white-space:nowrap;
}


.player-row.correct > td{
	background:rgba(0,255,0,.1);
	box-shadow:rgba(0,255,0,.2) 1px 1px 3px;
}

.player-row.incorrect > td{
	background:rgba(255,0,0,.1);
	text-shadow:rgba(255,240,240,1) 1px 1px 1px;
}

td > .points{
	display:block;
	width:80px;
	opacity:0;
	white-space:nowrap;
}

table tr.winner > td, tr.winner:hover > td{
	text-shadow:rgba(251, 223, 147, 1) 1px 1px 1px;
	background: #fceabb;
background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93));
background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 );
}

table tr.second > td, tr.second:hover > td{
	background: #f2f6f8;
background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(50%,#d8e1e7), color-stop(51%,#b5c6d0), color-stop(100%,#e0eff9));
background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
background: -o-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
background: -ms-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 );
}

table tr.third > td, tr.third:hover > td{
	text-shadow:rgba(255,230,200,1) 1px 1px 1px;
	background: #feccb1;
background: -moz-linear-gradient(top,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(50%,#f17432), color-stop(51%,#ea5507), color-stop(100%,#fb955e));
background: -webkit-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%);
background: -o-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%);
background: -ms-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%);
background: linear-gradient(to bottom,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 );

}

/* 
===============================================================
 Browse page
===============================================================
*/

#main-content.browse-page{

	position:relative;
	background:rgba(0,0,0,.05);
}

.left_menu{
	position:absolute;
	float:left;
	top:0;
	bottom: 0;
	border-right:1px solid #ccc;
	background:rgba(0,0,0,.05);
	width:150px;
}

.left_menu > h1{
	margin:0;
	padding:5px 10px;
	background:rgba(255,255,255,.4);
	border-bottom:1px solid #ccc;
}

.left_menu > ul{
	list-style:none;
	padding:0;
	margin:0;
}

.left_menu > ul > li{
	position:relative;
}

.left_menu > ul > li.cat-separator{
	position:relative;
	padding-left: 5px;
	background:rgba(0,200,255,.3);
	border-top:1px solid #B7EFFF;
}

.left_menu > ul > li > a{
	position:relative;
	display:block;
	border-top:1px solid #FFF;
	border-bottom:1px solid #ccc;
	height:30px;
	padding-left:10px;
	line-height:30px;
	background:rgba(255,255,255,0.3);
}

.left_menu > ul > li > a:hover{
	background:rgba(0,0,0,.02);
}

.left_menu > ul > li.active{
	border-left: 5px solid #09C;
}

.left_menu > ul > li.active > a{
	background:rgba(0,0,0,.02);
}

.right_content{
	margin:0 0 0 151px;
	border-left:1px solid #fff;
}

.right_content > .top-filter{
	padding:20px 20px;
	background:rgba(0,0,0,.03);
}

.items > .item{
	position:relative;
	display:block;
	width:100%;
	float:left;
}

.items > .item > a{
	display:block;
	padding:10px;
	min-height:70px;
	margin:10px 10px;
	text-decoration:none;
}

.items > .item img{
	position:relative;
	width:120px;
	height:160px;
	border-radius:4px;
}

.items > .item > a:hover{
	background:rgba(0,170,200,.2);
	box-shadow:rgba(0,170,200,1) 0 0 4px;
}


.items > .item h2{
	margin:0;
	padding:0 0 5px 0;
	font-size:20px;
	font-weight:normal;
}

.items > .item .info{
	margin:0;
	padding:0;
	font-size:14px;
	color:#222;
	font-weight:normal;
}

.items > .item .min-info{
	position:absolute;
	display:block;
	bottom:15px;
	margin:0;
	padding:0;
	width:93%;
	font-size:13px;
	color:#555;
	font-weight:normal;
	border-top:1px solid #CCC;
	padding-top:5px;
}


/* 
===============================================================
 Join Row
===============================================================
*/

#username{
	width: 100px;
}

/* 
===============================================================
 Footer
===============================================================
*/

footer{
	display:block;
	margin:0 auto;
	padding:10px 0;
	text-align:center;
	background:rgba(0,0,0,.3);
	box-shadow: inset rgba(0,0,0,.2) 0 3px 2px;
}

/* 
===============================================================
 Timer
===============================================================
*/



@-webkit-keyframes blink {
  0% {
    background:rgba(0,0,0,.2);
	box-shadow:inset rgba(0,0,0,.2) 0 0 4px;
  }

  50% {
    background:rgba(255,0,0,.2);
	box-shadow:inset rgba(0,0,0,.2) 0 0 4px, rgba(255,0,0,1) 0 0 6px;
  }
  
  100% {
   background:rgba(0,0,0,.2);
	box-shadow:inset rgba(0,0,0,.2) 0 0 4px;
  }
}

@-moz-keyframes blink {
  0% {
    background:rgba(0,0,0,.2);
	box-shadow:inset rgba(0,0,0,.2) 0 0 4px;
  }

  50% {
    background:rgba(255,0,0,.2);
	box-shadow:inset rgba(0,0,0,.2) 0 0 4px, rgba(255,0,0,1) 0 0 6px;
  }
  
  100% {
   background:rgba(0,0,0,.2);
	box-shadow:inset rgba(0,0,0,.2) 0 0 4px;
  }
}

@keyframes blink {
  0% {
    background:rgba(0,0,0,.2);
	box-shadow:inset rgba(0,0,0,.2) 0 0 4px;
  }

  50% {
    background:rgba(255,0,0,.2);
	box-shadow:inset rgba(0,0,0,.2) 0 0 4px, rgba(255,0,0,1) 0 0 6px;
  }
  
  100% {
   background:rgba(0,0,0,.2);
	box-shadow:inset rgba(0,0,0,.2) 0 0 4px;
  }
}
